.expert-card {
    display: flex;
    gap: 16px;

    padding: 16px;
    border-radius: 12px;

    background: #fff;
    border: 1px solid transparent;

    transition: 0.2s;
}

/* hover как в макете */
.expert-card:hover {
    border-color: #7b61ff;
}

/* аватар */
.expert-card__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

/* правая часть */
.expert-card__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* имя + роль */
.expert-card__header {
    display: flex;
    flex-direction: column;
}

.expert-card__name {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.expert-card__role {
    margin: 0;
    font-size: 13px;
    color: #666;
}

/* описание */
.expert-card__description {
    margin: 0;
    font-size: 14px;
    color: #444;
}

/* иконки */
.expert-card__socials {
    display: flex;
    gap: 8px;
    margin-top: 4px;
}

/* кружки */
.dot {
    width: 8px;
    height: 8px;
    background: #7b61ff;
    border-radius: 50%;
}