.info-banner {
    margin: 48px auto;
}

.info-banner__card {
    border-radius: 12px;
    padding: 20px 24px;
    padding-bottom: 48px;
    padding-top: 49px;
    /* height: 125px; */
    height: auto;
    background: linear-gradient(90deg, #6a0bff, #8f3bff);
}

.info-banner__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.info-banner__icon {
    font-size: 28px;
}

.info-banner__text {
    margin: 0;
    color: #fff;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0%;
}

.info-banner__text strong {
    font-weight: 700;
}




@media (max-width: 576px) {
    .info-banner__content {
        flex-direction: column;
        text-align: center;
    }

    .info-banner__text {
        font-size: 18px;
    }
}