.info-banner {
  margin-top: 32px;
}

/* сама плашка */
.info-banner__card {
  background: #6A0BFF;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* текст */
.info-banner__line {
  margin: 0;
  font-size: 16px;
  color: #fff;
}