.main-title {
    margin-top: 32px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.main-title__title {
    margin: 0;
    font-weight: 200;
    letter-spacing: -0.5px;
    font-weight: 500;
    font-style: Medium;
    font-size: 34px;
    line-height: 114.99999999999999%;
    letter-spacing: 0%;
    text-transform: uppercase;

}

.main-title__subtitle {
    margin-top: 12px;
    max-width: 640px;
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}